.wrapper {
    display: flex;
    background: #fafafa;
    border-radius: 5px;
    margin: 5px 0;
    justify-content: space-between;
    word-break: break-all;
    width: 91%;
    min-height: 35px;
    align-items: center;
    padding: 0 10px 0 15px;

}

.actionBox {
    margin-left: 15px;
}